<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- iconfont -->
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_2701845_7hk2y21hi32.css">
  <title>Kindle to flomo</title>
  <style>
    @media screen and (max-width: 500px) {
      #app{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .main{
        /* display:  none; */
        max-width: 100%;
      }
      .middle{
        /* display: none; */
        margin: 0 !important;
      }
      .aside {
        max-width: 100% !important;
      }
      .main-content{
        display: flex;
        flex-wrap: nowrap !important;
        flex-direction: column !important;
        align-items: center !important;
        height: 100% !important;
      }
      .main .el-card{
        width: 100% !important
      }
      .op{
        float: none !important;
        line-height: 1em !important;
      }
    }

    body {
      font-family: 'DIN-Regular', 'PingFang SC', Helvetica, Arial, sans-serif;
      background-color: #FAFAFA;
    }


    #app {
      display: flex;
      justify-content: center;
      padding: 0 2%;
    }

    .aside {
      max-width: 280px;
      /* margin-right: 2%; */
    }

    .main {
      max-width: 1600px;
    }


    .help ul {
      margin-top: 20px;
      padding: 0;
    }

    .main p {
      line-height: 1.8;
      margin: 0;
      min-height: 20px;
    }

    .main .main-content {
      display: flex;
      flex-flow: column wrap;
      align-content: space-between;
    }

    /* 强制换列 */
    .main .main-content::before,
    .main .main-content::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 2;
    }

    .main .el-card {
      width: 32%;
      margin-bottom: 2%;
      font-size: 14px;
      color: #606266;
      /* min-width: 300px; */
    }

    .main .el-card .el-card__body {
      padding: 10px 15px;
    }

    /* 将内容块重排为3列 */
    .el-card:nth-child(3n+1) {
      order: 1;
    }

    .el-card:nth-child(3n+2) {
      order: 2;
    }

    .el-card:nth-child(3n) {
      order: 3;
    }

    .selected {
      border: 1px solid #5783F7;
    }

    .saved {
      border: 1px solid #67C23A;
    }

    .showOp {
      display: block;
    }

    .hideOp {
      display: none;
    }

    .el-upload-dragger {
      width: 280px;
      height: 140px;
    }

    .el-upload-dragger .el-icon-upload {
      margin: 20px 0 10px;
      font-size: 60px;
    }


    .el-divider__text {
      background-color: #FAFAFA;
    }

    .el-tag {
      padding: 0 4px;
      line-height: 24px;
      height: 24px;
    }

    .el-upload-list__item-name [class^=el-icon] {
      height: auto
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- aside -->
    <div v-if="asideVisable" class="aside">
      <h2 style="color: #606266">kindle2flomo</h2>
      <!-- kindle note uploader -->
      <el-upload class="upload-demo" drag action="#" :multiple="true" :file-list="fileList"
        :http-request="handleRequest" :on-preview="preview" :on-change="uploadChange"
        :on-success="uploadSuccess" :on-exceed="exceed" :limit="10000" accept=".csv, .html">
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">上传 Kindle 笔记，支持多选</div>
        <div class="el-upload__tip" slot="tip">
          <el-link type="info"
            href="https://mp.weixin.qq.com/s?__biz=MjM5MDQ4NjUwMg==&mid=2649198191&idx=1&sn=95c506dde4a079d2840a91b12ca358a8&chksm=be5734e68920bdf04af5ad5f31d8c40acea17e723b1b0eeaa2d3d47d009a0adc5abca44bc953&token=1351484622&lang=zh_CN#rd"
            target="_blank">不知道怎么获取 Kindle 笔记？</el-link>
        </div>
      </el-upload>
      <!-- weread input -->
      <div class="weread">
        <el-divider><i class="iconfont icon-weixin" style="color: #909399; font-size: 14px;"> 微信读书</i></el-divider>
        <el-input type="textarea" :rows="6" :placeholder="placeholder" v-model="textarea">
        </el-input>
        <el-button size="mini" icon="el-icon-s-order" type="success" @click="parseWereadNotes" style="margin-top:10px">解析</el-button>
        <!-- <el-button size="mini" icon="el-icon-circle-plus" type="primary">新建</el-button> -->
        <!-- <el-button size="mini" icon="el-icon-circle-plus" type="warning">请求</el-button> -->
      </div>
      <div class="form">
        <el-divider><i class="el-icon-s-tools" style="color: #909399"> 解析设置</i></el-divider>
        <el-form :model="form" :rules="rule" ref="form" label-position="top" label-width="100px" class="demo-ruleForm">
          <el-form-item label="标签（支持多个哦）" prop="tag">
            <el-input v-model="form.tag" placeholder="开头 # 号，多个标签空格分隔" :clearable="true"></el-input>
          </el-form-item>
          <el-form-item label="分隔符（标注与笔记之间）" prop="delimiter">
            <el-input v-model="form.delimiter" placeholder="默认空一行" :clearable="true"></el-input>
          </el-form-item>
          <el-form-item label="标签位置（默认下面）" prop="order">
            <el-switch v-model="form.order" :content="form.order" active-value="up" inactive-value="down"
              change="switchChange"></el-switch>
          </el-form-item>
        <!-- <el-divider><i class="el-icon-s-opportunity" style="color: #909399"> 设置</i></el-divider> -->
          <el-form-item>
            <el-popover placement="bottom" title="" width="520" trigger="click" @hide="saveApi">
              <el-input v-model="api" autocomplete="on" placeholder="https://flomoapp.com/iwh/xxxxxxxxx"></el-input>
              <el-button slot="reference" icon="el-icon-s-tools" type="danger" size="mini">设置 API</el-button>
            </el-popover>
          </el-form-item>
        </el-form>
      </div>

      <!-- 帮助 -->
      <div class="help">
        <el-divider><i class="el-icon-s-opportunity" style="color: #909399"> 它的故事</i></el-divider>
        <ul style="list-style: none;">
          <li>
            <el-link type="info"
              href="https://mp.weixin.qq.com/s?__biz=MjM5MDQ4NjUwMg==&mid=2649198220&idx=1&sn=5d0fecf4d3a4ab1469724292dad9797d&chksm=be5734058920bd13ac17f149d7a54dd01b17a066d70f55a813ebb338075b6837f6c6605b255b&token=1351484622&lang=zh_CN#rd"
              target="_blank">1. 想了解它诞生的故事？</el-link>
          </li>
          <li>
            <el-link type="info"
              href="https://mp.weixin.qq.com/s?__biz=MjM5MDQ4NjUwMg==&mid=2649198238&idx=1&sn=31d5111d4a3bdc65ab1283612f1427f1&chksm=be5734178920bd0117a068f2c73897fd05c37bddba78efd62ccdf2bb6df5a0386172a4499143&token=677060446&lang=zh_CN#rd"
              target="_blank">2. 想了解它的实现过程？</el-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="middle" style="margin-top: 1.8em; margin-right: 1%;">
      <el-link v-show="asideVisable" :underline="false" type="info" @click.native="hideAside"><i class="iconfont icon-zuojiantou-"></i></el-link>
      <el-link v-show="!asideVisable" :underline="false" type="info" @click.native="showAside"><i class="iconfont icon-youjiantou"></i></el-link>
    </div>
    <!-- main -->
    <div v-if="result.length" class="main">
      <h2 style="color: #606266">《{{ book_title }}》
        <small style="font-size: medium">
          <span>共 {{ result.length }} 条笔记</span>
          <span v-if="savedCount">，已上传 {{ savedCount }} 条
            <el-popover placement="top-start" title="" width="250" trigger="hover" content="flomo 每天只支持上传 100 条 Memo">
              <i style="color: #606266" class="el-icon-question" slot="reference"></i>
            </el-popover>
          </span>
          <span v-if="selectedCount">，已选择 {{ selectedCount }} 条</span>
        </small>
        <div class="op" style="display: inline;float: right;line-height: 1.8em;">
          <el-link v-if="selectedCount > 1" :underline="false" type="primary" @click.native="postsome">批量导入</el-link>
          <!-- <el-link v-if="selectedCount > 1" :underline="false" type="danger" @click.native="deletesome">批量删除</el-link> -->
        </div>
      </h2>
      <div ref="content" class="main-content" :style="{ 'height': height }">
        <el-card ref="card" shadow="hover" v-for="(item,index) in result" :key="index"
          @click.native="clickCard(item,index)"
          @mouseover.native="overCard(item,index)"
          @mouseleave.native="leaveCard(item,index)"
          :class="{ selected: item.selected, saved: item.saved }"
          >
          <div class="memo_header" style="margin-bottom: 5px;">
            <span style="font-size:12px; color:#909399;">{{ item.place }}
            <div :class="[ item.showOp? 'showOp' : 'hideOp' ]" style="float: right;">
              <el-link v-if="!item.saved" :underline="false" icon="el-icon-upload" type="primary" @click.native.stop="postone(item)" title="导入Flomo"></el-link>
              <el-link v-if="!item.saved" :underline="false" icon="el-icon-delete" type="danger" @click.native.stop="del(item,index)" title="删除"></el-link>
              <el-link v-if="item.saved" :underline="false" icon="el-icon-copy-document" type="success" @click.native.stop="copyLink(item)" title="复制链接"></el-link>
            </div>
          </span>
          </div>
          <span v-if="form.order == 'up'" v-for="(item, index) in form.tag.split(' ')" :key="index">
            <el-tag v-if="item && item.split('')[0] == '#'" style="margin: 0 5px 3px 0">{{ item }}</el-tag>
          </span>
          <p>{{ item.highlight }}</p>
          <div v-if="item.note">
            <p>{{ form.delimiter }}</p>
            <p type="info"><b>{{ note_prefix }}{{ item.note }}</b></p>
          </div>
          <span v-if="form.order == 'down'" v-for="(item, index) in form.tag.split(' ')" :key="index">
            <el-tag v-if="item && item.split('')[0] == '#'" style="margin: 3px 5px 0 0">{{ item }}</el-tag>
          </span>
        </el-card>
      </div>
    </div>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- vue-clipboard -->
<script src="https://cdn.bootcdn.net/ajax/libs/vue-clipboard2/0.3.1/vue-clipboard.min.js"></script>

<script>
  let url = 'http://kindle2flomo.90byte.com'
  // let url = 'http://127.0.0.1:5000'
  let app = new Vue({
    el: '#app',
    data: {
      height: '1500px',
      width: '',
      fileList: [],
      api: '',
      note_prefix: '笔记：',
      form: {
        tag: '#kindle/《不拘一格》',
        delimiter: '------------------',
        order: 'down',
        is_disabled: false,
        is_loading: false,
        is_selected: false
      },
      rule: {
        delimiter: [
          { min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur' }
        ],
        is_order: false
      },
      book_title: '示例：不拘一格',
      result: [
        {
          "highlight": "网飞文化的核心是“人才重于流程，创新高于效率，自由多于管控”。必须理解，这样的文化建立在一个非常重要的基础上：创造力需要自由，但自由又不能被滥用。所以网飞只招“成年人”，即那些理解自由意味着更大责任的人。",
          "note": "根本的问题放在了人才招聘上，而大多数公司都不重视这个环节。",
          "place": "位置 127"
        },
        {
          "highlight": "判断力几乎可以解决所有模棱两可的问题，而流程做不到。",
          "note": "判断力的重要性",
          "place": "位置 320"
        },
        {
          "highlight": "这就是“自由与责任”理念的核心。如果有人滥用你给予他们的自由，就必须受到惩罚，而且必须是严厉的惩罚。这样，其他员工才会引以为戒，否则，自由将毫无意义。",
          "note": "大部分公司就是不愿意拉破脸皮，才一片祥和的将就着，耗费精力，这就是内耗。",
          "place": "3下 取消差旅和经费审批 > 位置 1249"
        },
        {
          "highlight": "这确实是一项很有意义的研究。创造性工作要求在一定程度上解放你的大脑。如果你总想着要怎么做才能表现好，才能得到高额的奖金，那么你就缺少开放的认知空间，产生最好的想法和最好创意的可能性也微乎其微。结果，你反倒做得更差。",
          "place": "4 支付行业最高薪资 > 位置 1564"
        },
        {
          "highlight": "了解自身的价值，然后主动去争取应得的报酬，这是我自己的责任啊！",
          "place": "4 支付行业最高薪资 > 位置 1754"
        },
        {
          "highlight": "如果你的回答通通是否定的，那么你应该开除她（下一章，我们会谈到员工表现平平就得拿遣散费走人）；如果你的答案是肯定的，那么请不要干涉，把决定权交给她就好。",
          "note": "一直实行的就只有一个原则，优胜劣汰。",
          "place": "6 无须决策审批 > 位置 2345"
        },
        {
          "highlight": "当然，对于某些产业而言，必须保证零失误。但网飞的业务并不涉及与安全相关的产业，如医疗、核能等。我们的市场就是需要创新。从长远来看，我们面临的最大危机不是犯错误，而是缺乏创新，缺乏让客户满意的娱乐创意，这将最终导致我们被市场淘汰。",
          "place": "6 无须决策审批 > 位置 2368"
        },
        {
          "highlight": "知情指挥应当承担项目所有的责任，包括独立签署合同文件。",
          "note": "实际干活的人负责。",
          "place": "6 无须决策审批 > 位置 2580"
        },
        {
          "highlight": "你必须养成这样一个习惯——如果有把握招到一名更优秀的员工，那就果断地辞掉当前的员工。当然，要做到这一点很困难，因为在职的员工也很优秀。但是，你必须这样做。你",
          "note": "再此印证：优胜劣汰。",
          "place": "7 员工留任测试 > 位置 2801"
        },
        {
          "highlight": "与其在这样一项计划里白白浪费大笔资金，不如直接给这名员工一笔丰厚的遣散补贴，遗憾地告知他不适合这份工作，并祝愿他今后能有更好的发展。",
          "note": "将省下来的管理成本直接给员工，这个方法在一定程度上确实人性化一些。",
          "place": "7 员工留任测试 > 位置 2942"
        },
        {
          "highlight": "最广为人知的决策方式就是领导拍板。领导需要审批决策，指导过程，选拔人员。有时，他可能会直接告诉员工该做什么，并且经常进行检查，纠正那些与他的意图不符的做法；有时，他也会试着给员工更多的权力，用流程控制代替直接监督。",
          "place": "9 情景管理而非控制管理 > 位置 3401"
        },
        {
          "highlight": "《小王子》（TheLittlePrince如果你想造艘船，不要老催人去采木，忙着分配工作和发号施令。而是要激起他们对浩瀚无垠的大海的向往。",
          "place": "9 情景管理而非控制管理 > 位置 3492"
        },
        {
          "highlight": "我就拿经常对管理层所说的话来提醒自己：当你的员工做了一些蠢事，不要指责他们。相反，你应该问问自己，你在情景设定上犯了什么错：在阐释战略目标的时候，你有没有讲得足够清晰并且让员工受到鼓舞？你有没有阐明所有的可能性和风险，从而帮助你的团队做出正确的决策？你和员工在观点和目标上有没有达成一致？",
          "note": "多少管理者有这样的觉悟，从自身去找原因？其实，每个人都应该多从自身去找原因，而不是看到别人犯错而心存侥幸。",
          "place": "9 情景管理而非控制管理 > 位置 3574"
        },
        {
          "highlight": "无论哪个地区，哪个行业，大多数组织机构实行的都是这种金字塔形的决策模式。这种模式包括两个方面：一方面由老板做出决定，然后自上而下逐级传达，一直落实到金字塔底端；另一方面是低级别员工只能处理细枝末节的小问题，稍大一点的问题则需要层层上报。",
          "place": "9 情景管理而非控制管理 > 位置 3616"
        },
        {
          "highlight": "即使是美国人提供反馈，他们也几乎总是先肯定你的工作，然后再告诉你他们真正想说的内容。美国人遵循的就是诸如“三个正面评价带一个负面评价”“要看到员工的好”这一类的信条，但这会使荷兰人感到困惑。荷兰人会给你正面或负面的反馈，但没法同时既说正面的，又说负面的。",
          "place": "10 走向全球的网飞文化 > 位置 4097"
        },
        {
          "highlight": "我们的4A准则是：·目的在于帮助。·反馈具有可行性。·感激与赞赏。·接受或拒绝。现在再加上第五条：·调整、适应——根据你所处的文化环境，调整你提出和接受反馈的方式，以获得你所期待的效果。",
          "place": "10 走向全球的网飞文化 > 位置 4137"
        },
        {
          "highlight": "·在文化中庸的国家，员工进行非正式反馈的可能性不大，可以实施更为正式的反馈机制，将反馈更多地纳入正式议程。",
          "note": "我们应该属于文化中庸的国家，但似乎，没有公司愿意建立正式的反馈机制，每年的评测，感觉都是走个形式。",
          "place": "10 走向全球的网飞文化 > 位置 4150"
        },
        {
          "highlight": "人才密度和坦诚这两个概念贯穿本书始终，是本书两个最基本的概念。",
          "place": "位置 4242"
        }
      ],
      selectedCount: 0,
      savedCount: 0,
      asideVisable: true,
      textarea:'',
      // placeholder: '一个神奇的输入框。\n解析 -> 贴入微信读书笔记并解析；\n新建 -> 插入笔记到列表；\n请求 -> 贴入微信读书 Cookies，获取所有笔记'
      placeholder: '1. 打开微信读书笔记，点击导出，复制到剪贴板\n2. 粘贴到此处\n3. 点击解析按钮\nPS. 暂未适配 Andriod 手机'
    },
    mounted() {
      // var height = this.$refs.card[0].offsetHeight;
      // console.log(this.$refs.card[0].clientHeight)
      this.$nextTick(() => {
        this.setHeight();
      })

      window.onresize = () => {
        this.setHeight();
      }
    },
    methods: {
      // 刷新 count
      flashCount(){
        savedCount = 0;
        selectedCount = 0 ;
        this.result.forEach((item, index)=>{
          if(item.selected){
            selectedCount ++;
          }
          if(item.saved){
            savedCount ++;
          }
        })
        this.selectedCount = selectedCount;
        this.savedCount = savedCount;
      },
      // 自动计算瀑布流高度
      setHeight() {
        var height1 = 0, height2 = 0, height3 = 0;
        var rows = parseInt(this.result.length / 3) + 1;
        var rows_space_width = (rows + 1) * this.$refs.content.offsetWidth * 0.02;
        this.$refs.card.forEach((item, index) => {
          if (index % 3 == 0) {
            height1 = height1 + item.$el.offsetHeight
          }
          if (index % 3 == 1) {
            height2 = height2 + item.$el.offsetHeight
          }
          if (index % 3 == 2) {
            height3 = height3 + item.$el.offsetHeight
          }
        })
        var max_height_col = Math.max(height1, height2, height3);
        height = max_height_col + rows_space_width;
        this.height = height + 'px'
      },
      saveApi() {
        if (!this.api.startsWith('https://flomoapp.com/iwh/')) {
          return this.$message.error('请设置正确的 Flomo API')
        }
        this.$message.success('Flomo API 设置成功')
      },
      showAside() {
        this.asideVisable = true;
      },
      hideAside() {
        this.asideVisable = false;
      },
      overCard(item, index) {
        item.showOp = true
        this.result.splice(index, 1, item)
      },
      leaveCard(item, index) {
        item.showOp = false
        this.result.splice(index, 1, item)
      },
      clickCard(item, index) {
        if(!item.saved){
          item.selected = !item.selected
          this.result.splice(index, 1, item)
          if (item.selected) {
            this.selectedCount++;
          } else {
            this.selectedCount--;
          }
        }
      },
      preview(file) {
        this.count = 0
        this.parse(file)
      },
      uploadSuccess(res, file, fileList) {
        console.log('success')
        // this.form.file = fileList[0].raw;
      },
      uploadChange(file, fileList) {
        console.log('change')
        this.fileList.push(file.raw)
      },
      exceed() {
        this.$message.error('一次只支持上传 10000 个文件');
      },
      handleRequest() {
        console.log('request')
        var length = this.fileList.length;
        if (length == 1) {
          this.parse(this.fileList[0])
        } else {
          this.$message.warning('点击左侧笔记文件，切换笔记')
        }
      },
      parse(file) {
        console.log('parse file: ' + file)
        if (file) {
          let formData = new FormData();
          formData.append("file", file);
          axios.post(url + '/parse', formData, {
            "Content-Type": "multipart/form-data"
          })
            .then(response => {
              this.book_title = response.data.book_title.split(' ').join('_')
              this.form.tag = "#kindle/《" + this.book_title + "》"
              this.result = response.data.result
              this.show = true
              this.$nextTick(() => {
                this.setHeight();
              })
              // this.setHeight()
            })
            .catch(error => {
              console.log(error);
            });
        } else {
          this.$message.error('请上传Kindle笔记文件');
        }
      },
      copyLink(item) {
        this.$copyText(item.url).then((e) => {
          this.$message.success('复制成功')
        }, (e) => {
          this.$message.success('Can not copy')
        })
      },
      // 删除
      del(item, index){
        this.result.splice(index, 1)
        this.flashCount();
      },
      post(item) {
        let formData = new FormData();
        formData.append("api", this.api);
        formData.append("tag", this.form.tag);
        formData.append("delimiter", this.form.delimiter);
        formData.append("order", this.form.order);
        formData.append("note_prefix", this.note_prefix)
        formData.append("note", item.note || '')
        formData.append("highlight", item.highlight || '');
        axios.post(url + '/post', formData, {
          "Content-Type": "multipart/form-data"
        }).then(response => {
          console.log(response);
          if (response.data.code == 0) {
            this.$message.success('导入成功')
            item.saved = true
            item.selected = false
            item.url = 'https://flomoapp.com/mine/?memo_id=' + response.data.memo.slug
            this.flashCount();
          }else{
            this.$message.error('导入失败：' + response.data.message + '，请检查 Flomo API 设置是否正确');
          }
        }).catch(error => {
          console.log(error);
        });
      },
      postone(item) {
        // api 校验
        if (!this.api) {
          return this.$message.error('请设置 Flomo API');
        }
        if (!this.api.startsWith('https://flomoapp.com/iwh/')) {
          return this.$message.error('请设置正确的 Flomo API')
        }
        if (item.saved) {
          return this.$message.info('该 MEMO 已经上传至 Flomo')
        }
        this.post(item);
      },
      postsome() {
        // api 校验
        if (!this.api) {
          return this.$message.error('请设置 Flomo API');
        }
        if (!this.api.startsWith('https://flomoapp.com/iwh/')) {
          return this.$message.error('请设置正确的 Flomo API')
        }
        // params
        // 上传列表数据校验
        var data = [];
        for (var i = 0; i < this.result.length; i++) {
          if (this.result[i].selected && !this.result[i].saved) {
            data.push(this.result[i])
          }
        }
        if (data.length > 100) {
          return this.$message.error('Flomo API 每天只支持 100 条');
        }
        if (data.length == 0) {
          return this.$message.error('请点击并选择一条 MEMO 导入')
        }
        // 逐条导入 MEMO
        for (var i = 0; i < data.length; i++) {
          this.post(data[i])
        }
      },
      // 读取微信读书笔记，并解析
      parseWereadNotes(){
        let formData = new FormData();
        formData.append('data', this.textarea)
        axios.post(url + '/parse_weixin', formData, {
          "Content-Type": "multipart/form-data"
        }).then(response => {
          console.log(response);
          if (response.data.result.length == 0) {
            return this.$message.error('输入有误，解析失败')
          }
          this.book_title = response.data.book_title.split(' ').join('_')
          this.form.tag = "#kindle/《" + this.book_title.split('：')[0] + "》"
          this.result = response.data.result
          this.show = true
          this.$nextTick(() => {
            this.setHeight();
          })
        }).catch(error => {
          console.log(error);
        });
      }
    }
  })
</script>

</html>