<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kindle to flomo</title>
</head>
<body>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello World!</h1>
{% endif %}
<form method="post" enctype="multipart/form-data" action="/">
    <label>File</label>
    <input name="file" type="file" required="required" /><br/>
    <label>delimiter</label>
    <input name="delimiter" placeholder=""/><br/>
    <input name="submit" type="submit" />
</form>
<hr>
<h1>Results</h1>
<p>{{ result }}</p>
{% for item in result %}
  <p>{{ item.replace }}</p>
{% endfor %}
</body>
</html>