@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main {
    /* display:  none; */
    max-width: 100%;
  }

  .middle {
    /* display: none; */
    margin: 0 !important;
  }

  .aside {
    max-width: 100% !important;
    width: 100% !important;
  }

  .weread {
    display: block !important;
  }

  .main-content {
    display: flex;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
    align-items: center !important;
    height: 100% !important;
  }

  .qrcode {
    text-align: center;
  }

  .main .el-card {
    width: 100% !important
  }

  .op {
    float: none !important;
    line-height: 1em !important;
  }

  .el-upload {
    width: 100% !important;
  }

  .el-upload-dragger {
    width: 100% !important;
  }
}

body {
  font-family: 'DIN-Regular', 'PingFang SC', Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
  margin: 0;
}


.container {
  display: flex;
  justify-content: center;
  padding: 0 5%;
}

.aside {
  max-width: 280px;
  /* margin-right: 2%; */
}

.main {
  max-width: 1600px;
}

.weread {
  display: none;
}

.help ul {
  margin-top: 20px;
  padding: 0;
}

.main p {
  line-height: 1.8;
  margin: 0;
  min-height: 20px;
}

.main .main-content {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

/* 强制换列 */
.main .main-content::before,
.main .main-content::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.main .el-card {
  width: 32%;
  margin-bottom: 2%;
  font-size: 14px;
  color: #606266;
  /* min-width: 300px; */
}

.main .el-card .el-card__body {
  padding: 10px 15px;
}

/* 将内容块重排为3列 */
.el-card:nth-child(3n+1) {
  order: 1;
}

.el-card:nth-child(3n+2) {
  order: 2;
}

.el-card:nth-child(3n) {
  order: 3;
}

.selected {
  border: 1px solid #5783F7;
}

.saved {
  border: 1px solid #67C23A;
}

.el-upload-dragger {
  width: 280px;
  height: 140px;
}

.el-upload-dragger .el-icon-upload {
  margin: 20px 0 10px;
  font-size: 60px;
}


.el-divider__text {
  background-color: #FAFAFA;
}

.el-tag {
  padding: 0 4px;
  line-height: 24px;
  height: 24px;
}

.el-upload-list__item-name [class^=el-icon] {
  height: auto
}